.header{
    height: 100%;
    width: 100%;
    display: flex;
}
.left_side_of_header , .right_side_of_header{
    height: 100%;
    width: 50%;
    display: flex;   
}
.logoContainer{
    width: 20%;
    display: flex;
    justify-content: center;
}
.logoContainer img{
    height: 100%;
    width: 60%;
}
.header_buttons_container{
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_buttons_container a{
    height: 10px;
    cursor: grabbing;
    text-decoration: underline;
    color: rgb(6, 4, 56);
    font-style: italic;
    font-size: larger;
}