#screen{
    height: 100%;
    width: 100vw;
}
#header{
    height: 10%;
    width: 100%;
    color: white;
}
#content{
    min-height: 77%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    min-height: 13%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
#hr_style{
    /* style={{width:"100%" , height:"1px" , backgroundColor:"#061c24"}} */
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg,rgb(49, 13, 79),rgb(4, 29, 151));
    background-size: 600% 600%;
}
